.hatter{
    background-color: chocolate;
}

.kep{
        width:250px;
        float:left;
        margin-left: 150px;
        margin-top: 20px;
}

.kep2{
    float: right;
    margin: auto;
}

.active{
    color: black !important;
    font-style: italic;
}